# Pandas
Topics covered:
- filtering

In [3]:
import pandas as pd

import warnings

# Suppress all FutureWarnings
warnings.simplefilter(action='ignore', category=FutureWarning)

### filtering

## On tips dataset
### Explanation of tips dataset

- **total_bill**: The total amount of the bill (numerical).
- **tip**: The amount of tip left by the customer (numerical).
- **sex**: The gender of the person paying the bill (categorical: **Male/Female**). 
- **smoker**: Indicates whether a smoker was present in the party (categorical: **Yes/No**).
- **day**: The day of the week when the meal occurred (categorical: **Thurs, Fri, Sat, Sun**).
- **time**: The time of day when the meal occurred (categorical: **Lunch/Dinner**).
- **size**: The number of people in the dining party (numerical).

In [4]:
# Load the tips dataset
df = pd.read_csv("data_tips.csv")
print(df.head(10))

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [5]:
# step1: Before filtering lets get to know all unique values of some of columns
columns = ['sex', 'smoker', 'day', 'time', 'size']
for col in columns:
    print(f"Column: {col}")
    print(df[col].unique())
    print("-----")

Column: sex
['Female' 'Male']
-----
Column: smoker
['No' 'Yes']
-----
Column: day
['Sun' 'Sat' 'Thur' 'Fri']
-----
Column: time
['Dinner' 'Lunch']
-----
Column: size
[2 3 4 1 6 5]
-----

In [6]:
# Filter: Customers who are females
mask = (df['sex'] == 'Female')
# print(mask)
# print("----")

df_filter = df[mask]
print(df_filter.head()) # print first few records
print("#########################")
print(len(df_filter.index)) # count of df_filter

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
11       35.26  5.00  Female     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3
#########################
87

In [7]:
# Filter: Customers who are female smokers
mask = (df['sex'] == 'Female') & (df['smoker'] == 'Yes')

df_filter = df[mask]
print(df_filter.head())
print("#########################")
print(len(df_filter.index))

    total_bill   tip     sex smoker  day    time  size
67        3.07  1.00  Female    Yes  Sat  Dinner     1
72       26.86  3.14  Female    Yes  Sat  Dinner     2
73       25.28  5.00  Female    Yes  Sat  Dinner     2
92        5.75  1.00  Female    Yes  Fri  Dinner     2
93       16.32  4.30  Female    Yes  Fri  Dinner     2
#########################
33

In [8]:
# Filter: Customers whose total bill < 30 or > 50
mask = (df['total_bill'] < 30) | (df['total_bill'] > 50)

df_filter = df[mask]
print(df_filter.head())
print("#########################")
print(len(df_filter.index))

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
#########################
213

In [9]:
# Filter: Customers who tipped more than 20% of their total bill
df['tip_percent'] = (df['tip'] / df['total_bill']) * 100
mask = (df['tip_percent'] > 20)

df_filter = df[mask]
print(df_filter.head())
print("#########################")
print(len(df_filter.index))

    total_bill   tip     sex smoker  day    time  size  tip_percent
6         8.77  2.00    Male     No  Sun  Dinner     2    22.805017
9        14.78  3.23    Male     No  Sun  Dinner     2    21.853857
14       14.83  3.02  Female     No  Sun  Dinner     2    20.364127
17       16.29  3.71    Male     No  Sun  Dinner     3    22.774708
18       16.97  3.50  Female     No  Sun  Dinner     3    20.624632
#########################
39

In [10]:
# Filter: Lunch time male customers with total bill between $15 and $30
mask = (df['time'] == 'Lunch') & (df['sex'] == 'Male') & (df['total_bill'].between(15, 30))

df_filter = df[mask]
print(df_filter.head())
print("#########################")
print(len(df_filter.index))

    total_bill   tip   sex smoker   day   time  size  tip_percent
77       27.20  4.00  Male     No  Thur  Lunch     4    14.705882
78       22.76  3.00  Male     No  Thur  Lunch     2    13.181019
79       17.29  2.71  Male     No  Thur  Lunch     2    15.673800
80       19.44  3.00  Male    Yes  Thur  Lunch     2    15.432099
81       16.66  3.40  Male     No  Thur  Lunch     2    20.408163
#########################
18

In [11]:
# Filter: Female smokers who dined on weekends and gave tips over $4
mask = (
    (df['sex'] == 'Female') &
    (df['smoker'] == 'Yes') &
    (df['day'].isin(['Sat', 'Sun'])) &
    (df['tip'] > 4)
)

df_filter = df[mask]
print(df_filter.head())
print("#########################")
print(len(df_filter.index))

     total_bill  tip     sex smoker  day    time  size  tip_percent
73        25.28  5.0  Female    Yes  Sat  Dinner     2    19.778481
214       28.17  6.5  Female    Yes  Sat  Dinner     3    23.074192
#########################
2

In [12]:
# Filter: Tables with size >= 4 but average tip per person < $1.5
df['tip_per_person'] = df['tip'] / df['size']
mask = (df['size'] >= 4) & (df['tip_per_person'] < 1.5)

df_filter = df[mask]
print(df_filter.head())
print("#########################")
print(len(df_filter.index))

    total_bill   tip     sex smoker  day    time  size  tip_percent  \
4        24.59  3.61  Female     No  Sun  Dinner     4    14.680765
5        25.29  4.71    Male     No  Sun  Dinner     4    18.623962
7        26.88  3.12    Male     No  Sun  Dinner     4    11.607143
11       35.26  5.00  Female     No  Sun  Dinner     4    14.180374
13       18.43  3.00    Male     No  Sun  Dinner     4    16.277808

    tip_per_person
4           0.9025
5           1.1775
7           0.7800
11          1.2500
13          0.7500
#########################
41

# STOP

### Titanic dataset explanation

| Column Name   | Description                                                          |
| ------------- | -------------------------------------------------------------------- |
| `survived`    | Whether the passenger survived (1) or died (0)                       |
| `pclass`      | Passenger class (1 = 1st, 2 = 2nd, 3 = 3rd)                          |
| `sex`         | Gender of the passenger                                              |
| `age`         | Age in years (may contain missing values)                            |
| `sibsp`       | Number of siblings/spouses aboard                                    |
| `parch`       | Number of parents/children aboard                                    |
| `fare`        | Ticket fare paid                                                     |
| `embarked`    | Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton) |
| `class`       | Same as `pclass` but as string labels ("First", "Second", "Third")   |
| `who`         | Gender grouping: man, woman, child                                   |
| `adult_male`  | Boolean indicating if passenger is adult male                        |
| `deck`        | Deck level (some missing data)                                       |
| `embark_town` | Town of embarkation                                                  |
| `alive`       | "yes" or "no" survival label                                         |
| `alone`       | Boolean if passenger traveled alone                                  |

In [20]:
# SKIP Load the Titanic dataset
# df = pd.read_csv('https://raw.githubusercontent.com/ash322ash422/tut_pandas_numpy/refs/heads/master/titanic.csv', sep=',')
df = pd.read_csv('data_titanic.csv', sep=',')
print(df.head())
print("########################")

# Filter: all passengers who are female 
mask = (df['Sex'] == 'female')
df_filter = df[mask]

print(df_filter)
print(len(df_filter.index))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
########################
     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
..           ...       ...     ...
880          881         1       2
882          883         0       3
885          886         0       3
887          888         1       1
888          889         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
..                                                 ...     ...   ...    ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1

     Parch            Ticket     Fare Cabin Embarked
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
8        2            347742  11.1333   NaN        S
9        0            237736  30.0708   NaN        C
..     ...               ...      ...   ...      ...
880      1            230433  26.0000   NaN        S
882      0              7552  10.5167   NaN        S
885      5            382652  29.1250   NaN        Q
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S

[314 rows x 12 columns]
314

In [18]:
# Filter: all passenger who survived
mask = (df['Survived'] == 1) 
df_filter = df[mask]

print(df_filter)
print(len(df_filter.index))

     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
..           ...       ...     ...
875          876         1       3
879          880         1       1
880          881         1       2
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
..                                                 ...     ...   ...    ...
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
8        2            347742  11.1333   NaN        S
9        0            237736  30.0708   NaN        C
..     ...               ...      ...   ...      ...
875      0              2667   7.2250   NaN        C
879      1             11767  83.1583   C50        C
880      1            230433  26.0000   NaN        S
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C

[342 rows x 12 columns]
########################

In [21]:
# Filter: Passengers who are female surivors
mask = (df['Sex'] == 'female') & (df['Survived'] == 1)
df_filter = df[mask]

print(df_filter.head())
print(len(df_filter.index))

   PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
233

In [22]:
# Filter: Passengers who are in first class and over 60 years old
mask = (df['Pclass'] == 1) & (df['Age'] > 60)
df_filter = df[mask]

print(df_filter)
print(len(df_filter.index))

     PassengerId  Survived  Pclass                                       Name  \
54            55         0       1             Ostby, Mr. Engelhart Cornelius
96            97         0       1                  Goldschmidt, Mr. George B
170          171         0       1                  Van der hoef, Mr. Wyckoff
252          253         0       1                  Stead, Mr. William Thomas
275          276         1       1          Andrews, Miss. Kornelia Theodosia
438          439         0       1                          Fortune, Mr. Mark
456          457         0       1                  Millet, Mr. Francis Davis
493          494         0       1                    Artagaveytia, Mr. Ramon
545          546         0       1               Nicholson, Mr. Arthur Ernest
555          556         0       1                         Wright, Mr. George
625          626         0       1                      Sutton, Mr. Frederick
630          631         1       1       Barkworth, Mr. Algernon Henry Wilson
745          746         0       1               Crosby, Capt. Edward Gifford
829          830         1       1  Stone, Mrs. George Nelson (Martha Evelyn)

        Sex   Age  SibSp  Parch     Ticket      Fare        Cabin Embarked
54     male  65.0      0      1     113509   61.9792          B30        C
96     male  71.0      0      0   PC 17754   34.6542           A5        C
170    male  61.0      0      0     111240   33.5000          B19        S
252    male  62.0      0      0     113514   26.5500          C87        S
275  female  63.0      1      0      13502   77.9583           D7        S
438    male  64.0      1      4      19950  263.0000  C23 C25 C27        S
456    male  65.0      0      0      13509   26.5500          E38        S
493    male  71.0      0      0   PC 17609   49.5042          NaN        C
545    male  64.0      0      0        693   26.0000          NaN        S
555    male  62.0      0      0     113807   26.5500          NaN        S
625    male  61.0      0      0      36963   32.3208          D50        S
630    male  80.0      0      0      27042   30.0000          A23        S
745    male  70.0      1      1  WE/P 5735   71.0000          B22        S
829  female  62.0      0      0     113572   80.0000          B28      NaN
14

In [23]:
# Filter: passengers who are > 60 years of age
mask = df['Age'] > 60
df_filter = df[mask]

print(df_filter)
print(len(df_filter.index))

     PassengerId  Survived  Pclass                                       Name  \
33            34         0       2                      Wheadon, Mr. Edward H
54            55         0       1             Ostby, Mr. Engelhart Cornelius
96            97         0       1                  Goldschmidt, Mr. George B
116          117         0       3                       Connors, Mr. Patrick
170          171         0       1                  Van der hoef, Mr. Wyckoff
252          253         0       1                  Stead, Mr. William Thomas
275          276         1       1          Andrews, Miss. Kornelia Theodosia
280          281         0       3                           Duane, Mr. Frank
326          327         0       3                  Nysveen, Mr. Johan Hansen
438          439         0       1                          Fortune, Mr. Mark
456          457         0       1                  Millet, Mr. Francis Davis
483          484         1       3                     Turkula, Mrs. (Hedwig)
493          494         0       1                    Artagaveytia, Mr. Ramon
545          546         0       1               Nicholson, Mr. Arthur Ernest
555          556         0       1                         Wright, Mr. George
570          571         1       2                         Harris, Mr. George
625          626         0       1                      Sutton, Mr. Frederick
630          631         1       1       Barkworth, Mr. Algernon Henry Wilson
672          673         0       2                Mitchell, Mr. Henry Michael
745          746         0       1               Crosby, Capt. Edward Gifford
829          830         1       1  Stone, Mrs. George Nelson (Martha Evelyn)
851          852         0       3                        Svensson, Mr. Johan

        Sex   Age  SibSp  Parch       Ticket      Fare        Cabin Embarked
33     male  66.0      0      0   C.A. 24579   10.5000          NaN        S
54     male  65.0      0      1       113509   61.9792          B30        C
96     male  71.0      0      0     PC 17754   34.6542           A5        C
116    male  70.5      0      0       370369    7.7500          NaN        Q
170    male  61.0      0      0       111240   33.5000          B19        S
252    male  62.0      0      0       113514   26.5500          C87        S
275  female  63.0      1      0        13502   77.9583           D7        S
280    male  65.0      0      0       336439    7.7500          NaN        Q
326    male  61.0      0      0       345364    6.2375          NaN        S
438    male  64.0      1      4        19950  263.0000  C23 C25 C27        S
456    male  65.0      0      0        13509   26.5500          E38        S
483  female  63.0      0      0         4134    9.5875          NaN        S
493    male  71.0      0      0     PC 17609   49.5042          NaN        C
545    male  64.0      0      0          693   26.0000          NaN        S
555    male  62.0      0      0       113807   26.5500          NaN        S
570    male  62.0      0      0  S.W./PP 752   10.5000          NaN        S
625    male  61.0      0      0        36963   32.3208          D50        S
630    male  80.0      0      0        27042   30.0000          A23        S
672    male  70.0      0      0   C.A. 24580   10.5000          NaN        S
745    male  70.0      1      1    WE/P 5735   71.0000          B22        S
829  female  62.0      0      0       113572   80.0000          B28      NaN
851    male  74.0      0      0       347060    7.7750          NaN        S
22

In [ ]:
# Filter: Passengers whose age is either < 30 or > 60 , 
mask = (df['Age'] < 30) | (df['Age'] > 60)
df_filter = df[mask]

print(df_filter)
print(len(df_filter.index))

In [24]:
# Filter: all male passenger who embarked in Queenstown with age > 65
mask = (df['Sex'] == 'male') & (df['Embarked'] == 'Q') & (df['Age'] >= 65)
df_filter = df[mask]

print(df_filter)
print(len(df_filter.index))

     PassengerId  Survived  Pclass                  Name   Sex   Age  SibSp  \
116          117         0       3  Connors, Mr. Patrick  male  70.5      0
280          281         0       3      Duane, Mr. Frank  male  65.0      0

     Parch  Ticket  Fare Cabin Embarked
116      0  370369  7.75   NaN        Q
280      0  336439  7.75   NaN        Q
2

In [25]:
# Filter: all male passenger who embarked in Queenstown with age > 65 or age < 18
mask = (df['Sex'] == 'male') & (df['Embarked'] == 'Q') & ( (df['Age'] >= 65) | (df['Age'] < 18) )
df_filter = df[mask]

print(df_filter)
print(len(df_filter.index))

     PassengerId  Survived  Pclass                       Name   Sex   Age  \
16            17         0       3       Rice, Master. Eugene  male   2.0
116          117         0       3       Connors, Mr. Patrick  male  70.5
171          172         0       3       Rice, Master. Arthur  male   4.0
278          279         0       3         Rice, Master. Eric  male   7.0
280          281         0       3           Duane, Mr. Frank  male  65.0
787          788         0       3  Rice, Master. George Hugh  male   8.0

     SibSp  Parch  Ticket    Fare Cabin Embarked
16       4      1  382652  29.125   NaN        Q
116      0      0  370369   7.750   NaN        Q
171      4      1  382652  29.125   NaN        Q
278      4      1  382652  29.125   NaN        Q
280      0      0  336439   7.750   NaN        Q
787      4      1  382652  29.125   NaN        Q
6

In [ ]:
# Filter: Passengers with missing age or fare > 200
mask = (df['Age'].isnull()) | (df['Fare'] > 200)
df_filter = df[mask]
print(df_filter)
print("########################")

In [ ]:
# Filter: Male passengers under 18 who did not survive
# passenger are male AND passengers age < 18 AND passenger did not survive 
mask = (df['Sex'] == 'male') & (df['Age'] < 18) & (df['Survived'] == 0)
df_filter = df[mask]
print(df_filter)
print("########################")

In [ ]:
# Filter: Females in 2nd or 3rd class
# passengers are female AND (passenger are in  2nd class OR passenger are in  3rd class) # TODO
mask = (df['Sex'] == 'female') & ((df['Pclass'] == 2) | (df['Pclass'] == 3))
df_filter = df[mask]
print(df_filter)
print("########################")

In [34]:
# Filter: passenger with parent children and spouse and were 1st class
print(df.columns)
mask = ( df['Parch'] > 0 ) & ( df['SibSp'] > 0 ) & ( df['Pclass'] == 1)

df_filter = df[mask]
print(df_filter)
print(len(df_filter.index))

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
     PassengerId  Survived  Pclass  \
27            28         0       1
88            89         1       1
248          249         1       1
262          263         0       1
297          298         0       1
305          306         1       1
311          312         1       1
319          320         1       1
341          342         1       1
390          391         1       1
435          436         1       1
438          439         0       1
498          499         0       1
558          559         1       1
581          582         1       1
587          588         1       1
698          699         0       1
742          743         1       1
745          746         0       1
763          764         1       1
802          803         1       1
820          821         1       1
835          836         1       1
856          857         1       1
871          872         1       1

                                                  Name     Sex    Age  SibSp  \
27                      Fortune, Mr. Charles Alexander    male  19.00      3
88                          Fortune, Miss. Mabel Helen  female  23.00      3
248                      Beckwith, Mr. Richard Leonard    male  37.00      1
262                                  Taussig, Mr. Emil    male  52.00      1
297                       Allison, Miss. Helen Loraine  female   2.00      1
305                     Allison, Master. Hudson Trevor    male   0.92      1
311                         Ryerson, Miss. Emily Borie  female  18.00      2
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.00      1
341                     Fortune, Miss. Alice Elizabeth  female  24.00      3
390                         Carter, Mr. William Ernest    male  36.00      1
435                          Carter, Miss. Lucile Polk  female  14.00      1
438                                  Fortune, Mr. Mark    male  64.00      1
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
558             Taussig, Mrs. Emil (Tillie Mandelbaum)  female  39.00      1
581  Thayer, Mrs. John Borland (Marian Longstreth M...  female  39.00      1
587                   Frolicher-Stehli, Mr. Maxmillian    male  60.00      1
698                           Thayer, Mr. John Borland    male  49.00      1
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.00      2
745                       Crosby, Capt. Edward Gifford    male  70.00      1
763          Carter, Mrs. William Ernest (Lucile Polk)  female  36.00      1
802                Carter, Master. William Thornton II    male  11.00      1
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  female  52.00      1
835                        Compton, Miss. Sara Rebecca  female  39.00      1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.00      1

     Parch     Ticket      Fare            Cabin Embarked
27       2      19950  263.0000      C23 C25 C27        S
88       2      19950  263.0000      C23 C25 C27        S
248      1      11751   52.5542              D35        S
262      1     110413   79.6500              E67        S
297      2     113781  151.5500          C22 C26        S
305      2     113781  151.5500          C22 C26        S
311      2   PC 17608  262.3750  B57 B59 B63 B66        C
319      1      16966  134.5000              E34        C
341      2      19950  263.0000      C23 C25 C27        S
390      2     113760  120.0000          B96 B98        S
435      2     113760  120.0000          B96 B98        S
438      4      19950  263.0000      C23 C25 C27        S
498      2     113781  151.5500          C22 C26        S
558      1     110413   79.6500              E67        S
581      1      17421  110.8833              C68        C
587      1      13567   79.2000              B41        C
698      1      17421  110.8833              C68        C
742      2   PC 17608  262.3750  B57 B59 B63 B66        C
745      1  WE/P 5735   71.0000              B22        S
763      2     113760  120.0000          B96 B98        S
802      2     113760  120.0000          B96 B98        S
820      1      12749   93.5000              B69        S
835      1   PC 17756   83.1583              E49        C
856      1      36928  164.8667              NaN        S
871      1      11751   52.5542              D35        S
891